<h1>Invoice</h1>
<ul>
<% if @orders_confirmed.exists? %>
  <% @orders_confirmed.each do |order| %>
    <% order.order_items.each do |order_item| %>
      <li><%= order_item.menu_item.name %>: <%= order_item.quantity %>  <%= order_item.menu_item.price %>€</li>
    <% end %>
  <% end %>
<% else %>
  <p> No confirmed orders yet</p>
<% end %>
</ul>

<%= @total.sum %>

<p>Select a payment method</p>

<div class="payment_method">
  <div>
    <input type="radio" id="PayPal" name="PayPal" value="PayPal">
    <label for="PayPal">PayPal</label>
  </div>

  <div>
    <input type="radio" id="Cash" name="Cash" value="Cash">
    <label for="Cash">Cash</label>
  </div>
</div>

<div class="receipt_header">
  <p>QTY</p>
  <p>DESCRIPTION</p>
  <p>PRICE</p>
  <p>AMOUNT</p>
</div>
<div class="receipt_body">

</div>

<%= link_to "Pay", paid_path, method: :patch %>
