<%= render "shared/top" if current_user %>

<div class="checkbar">
  <h4>Invoice</h4>
</div>

<% if @orders_confirmed.exists? %>
  <div class="cont_reci">
    <div class="receipt_header">
      <p>QTY</p>
      <p>DESCRIPTION</p>
      <p>PRICE</p>
      <p>AMOUNT</p>
    </div>
    <% @orders_confirmed.each do |order| %>
      <% order.order_items.each do |order_item| %>
        <div class="receipt_body">
          <div class="receipt_quantity">
            <p><%= order_item.quantity %></p>
          </div>
          <div class="receipt_description">
            <p><%= order_item.menu_item.name %></p>
          </div>
          <div class="receipt_price">
            <p><%= order_item.menu_item.price %></p>
          </div>
          <div class="receipt_amount">
            <p><%= order_item.quantity * order_item.menu_item.price %></p>
          </div>
          <div class="receipt_currency">
            <p><em>€</em></p>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="receipt_footer">
      <div class="receipt_sum">
        <div class="receipt_total">
          <p>TOTAL</p>
        </div>
        <div class="receipt_amount">
          <p><strong><%= @total.sum %></strong></p>
          <p><em>€</em></p>
        </div>
      </div>
      <div class="receipt_vat">
      <div class="vat">
        <p>VAT%</p>
      </div>
      <div class="vat">
        <p>NET</p>
      </div>
      <div class="vat">
        <p>VAT</p>
      </div>
    </div>
    <div class="receipt_vat">
      <div class="vat">
        <p>19.00</p>
      </div>
      <div class="vat">
        <p><%= (@total.sum * 0.81).round(2) %></p>
      </div>
      <div class="vat">
        <p><%= (@total.sum - (@total.sum * 0.81)).round(2) %></p>
      </div>
    </div>
  </div>

  <div class="time">

  <%if Order.last.total >= 10 %>
    <% time = 10 + Order.last.total * 0.2%>
  <%else  %>
    <% time = 2 + Order.last.total * 0.2%>
  <%end %>
    <h6 >Your order takes:</h6>
    <h6 id="minutes"> <strong><%= time.round() %></strong> minutes</h6>
  </div>

  <div class="checkbar" id="order_way">
    <h4>Your order is on its way!</h4>
  </div>
  <p class="invoice">Select a payment method</p>
  <div class="payment_method">
    <div>
      <input type="radio" id="PayPal" name="Payment" value="PayPal">
      <label for="PayPal"><i class="fab fa-cc-paypal fa"></i></label>
    </div>
    <div>
      <input type="radio" id="Card" name="Payment" value="Card">
      <label for="Card"><i class=""><i class="far fa-credit-card fa"></i></i></label>
    </div>
    <div>
      <input type="radio" id="Cash" name="Payment" value="Cash">
      <label for="Cash"><i class="fas fa-money-bill-wave fa"></i></label>
    </div>
  </div>
  <div class="pay_btn">
    <%= link_to "Pay", paid_path, method: :get %>
  </div>
</div>
<% else %>
  <div class="cont_reci">
    <p class="invoice"> No confirmed orders yet</p>
  </div>
<% end %>


<%= render 'shared/flying' if current_user %>
