<%= render "shared/top" if current_user %>

<div class="checkbar_conf">
  <h4>Confirmation</h4>
</div>

<h5>Thank you for your order!</h5>

<div class="check_sign">
  <i class="fas fa-check-circle fas_check"></i>
</div>

<p class="invoice">The waiter will be at your table soon.</p>

<% @orders_paid.each do |order| %>
    <% order.order_items.each do |order_item| %>
      <div class="receipt_body">
        <div class="receipt_quantity">
          <p><%= order_item.quantity %></p>
        </div>
        <div class="receipt_description">
          <p><%= order_item.menu_item.name %></p>
        </div>
        <div class="receipt_price">
          <p><%= order_item.menu_item.price %></p>
        </div>
        <div class="receipt_amount">
          <p><%= order_item.quantity * order_item.menu_item.price %></p>
        </div>
        <div class="receipt_currency">
          <p><em>€</em></p>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="receipt_footer">
    <div class="receipt_sum">
      <div class="receipt_total">
        <p>TOTAL</p>
      </div>
      <div class="receipt_amount">
        <p><em><%= @total.sum %></em></p>
        <p><em>€</em></p>
      </div>
    </div>
    <div class="receipt_vat">
    <div class="vat">
      <p>VAT%</p>
    </div>
    <div class="vat">
      <p>NET</p>
    </div>
    <div class="vat">
      <p>VAT</p>
    </div>
  </div>
  <div class="receipt_vat">
    <div class="vat">
      <p>19.00</p>
    </div>
    <div class="vat">
      <p><%= (@total.sum * 0.81).round(2) %></p>
    </div>
    <div class="vat">
      <p><%= (@total.sum - (@total.sum * 0.81)).round(2) %></p>
    </div>
  </div>
</div>
