<%= render 'shared/top' if current_user %>

<div class="checkbar">
  <h4>Your Card</h4>
</div>

<div class="container_co">
  <h1>Your Items</h1>

  <% total = 0 %>

  <% @order_items.each do |item| %>
    <div class="meal_co">
      <div class="name_pri_co">
        <p> <%= item.menu_item.name %> <i>( <%= item.menu_item.price %> € )</i> </p>
        <p> Total: <strong><%= amount = item.menu_item.price * item.quantity%> €</strong></p>
      </div>

      <%= link_to order_item_path(item), method: :delete do%>
        <div class="delete_btn">
          <p>x</p>
        </div>
      <% end %>
      <div class="qua_box">
        <div class="qua_txt">
          <p>Quantity: </p>
        </div>
        <div class="qua-cha">
          <div class="qua-btn">
            <p>-</p>
          </div>

          <div class="qua-fig">
            <p> <%= item.quantity %> </p>
          </div>

          <div class="qua-btn">
            <p>+</p>
          </div>
        </div>
      </div>
      <% total = total + amount %>
    </div>
  <% end %>
  <div class="total_pri_co">
    <h5>Total: <%= total%>€</h5>
  </div>
</div>


<%= render 'shared/flying' if current_user %>
