<%= render 'shared/top' if current_user %>

<div class="checkbar">
  <h4>Your Card</h4>
</div>

<div class="container_co">
  <h1>Your Items</h1>

  <% total = 0 %>

  <% @order_items.each do |item| %>
    <div class="meal_co">
      <div class="name_pri_co">
        <p> <%= item.menu_item.name %>...........( <%= item.menu_item.price %> € ) </p>
        <p> Total: <strong><%= amount = item.menu_item.price * item.quantity%> €</strong></p>
      </div>

      <%= link_to order_item_path(item), method: :delete do%>
        <div class="delete_btn">
          <p>x</p>
        </div>
      <% end %>

      <p> Quantity: <%= item.quantity %> </p>
      <% total = total + amount %>
    </div>
  <% end %>

</div>

<div class="container my-5">
  <h1>Your Order</h1>
  <div class="cards">
    <p>Total: <%= total%>€</p>
  </div>
</div>

<div class="container my-5">
  <h1>Your Order</h1>
  <div class="cards">
    <p>Total: <%= total%>€</p>
  </div>
</div>

<div class="container my-5">
  <h1>Your Order</h1>
  <div class="cards">
    <p>Total: <%= total%>€</p>
  </div>
</div>

<div class="container my-5">
  <h1>Your Order</h1>
  <div class="cards">
    <p>Total: <%= total%>€</p>
  </div>
</div>



<%= render 'shared/flying' if current_user %>
