<div class="container my-5">
  <h1>Your Cart</h1>
  <div class="cards">
    <% @order_items.each do |item| %>
      <div class="card">
        <p> <%= item.menu_item.name %> </p>
        <p> <%= item.quantity %> </p>
        <p> <%= item.menu_item.price%> €</p>
        <p> Description: <%= item.menu_item.description %> </p>
        <button class="btn btn-primary ">Delete</button>
      </div>
    <% end %>
  </div>
</div>
<div class="container my-5">
  <h1>Your Order</h1>
    <div class="cards">
      <p> Status: <%= @order %> </p>
      <p> Total: <%= @order_items%> </p>
      <div class="link">
        <%= link_to "Payment", order_path, class: "btn btn-primary"%>
      </div>
    </div>
</div>
