<%= render 'shared/top' if current_user %>
<%= render 'shared/swipebar' if current_user %>

<div class="cards">
  <div class="category_m">
    <h4 id="drinks">Drinks</h4>
    <% @drinks.each do |menu_item| %>
      <div class="meal">
        <div class="plus">
        </div>

        <div class="image">
          <%= image_tag menu_item.image_url %>
        </div>

        <div class="text">

          <div class="name_pri">
            <div class="name">
              <p> <%= menu_item.name %> </p>
            </div>

            <div class="price">
              <p> <%= menu_item.price%> €</p>
            </div>
          </div>

          <div class="descrpiton">
            <%= link_to restaurant_path do%>
              <p>Description</p>
              <%# <p><%= menu_item.description%>
            <% end %>
          </div>

          <div class="quantity">
            <%= simple_form_for([@order, @order_item]) do |f| %>
                <%= f.input :quantity %>
                <%= f.input :menu_item_id, input_html: { value: menu_item.id }, as: :hidden %>
                <%= f.submit "+", class: "plus"%>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <div class="category_m">
    <h4 id="mains">Mains</h4>
    <% @mains.each do |menu_item| %>
      <div class="meal">
        <div class="name">
          <%= image_tag menu_item.image_url %>
          <p> <%= menu_item.name %> </p>
          <p> <%= menu_item.price%> €</p>
          <p> Description: <%= menu_item.description%> </p>
          <%= simple_form_for([@order, @order_item]) do |f| %>
            <%= f.input :quantity %>
            <%= f.input :menu_item_id, input_html: { value: menu_item.id }, as: :hidden %>
            <%= f.submit "+", class: "plus"%>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<%= render 'shared/flying' if current_user %>
