
<div class="container my-5">
  <h1><%= @restaurant.name %></h1>
  <p>Address: <%= @restaurant.address %></p>
  <%= @svg.html_safe %>
</div>

<div class="container">
  <h1><%= @restaurant.name %></h1>
  <h3>Our Menu</h3>

<div class="cards">
  <h4>Drinks</h4>
  <% @drinks.each do |menu_item| %>
    <div class="card">
      <p> <%= menu_item.name %> </p>
      <p> <%= menu_item.price%> €</p>
      <p> Description: <%= menu_item.description%> </p>
      <%= simple_form_for([@order, @order_item]) do |f| %>
        <%= f.input :quantity %>
        <%= f.input :menu_item_id, input_html: { value: menu_item.id }, as: :hidden %>
        <%= f.submit "Add to order", class: "btn btn-primary my-2"%>
      <% end %>
    </div>
  <% end %>


  <h4>Mains</h4>
  <% @mains.each do |menu_item| %>
    <div class="card">
      <p> <%= menu_item.name %> </p>
      <p> <%= menu_item.price%> €</p>
      <p> Description: <%= menu_item.description%> </p>
    </div>
  <% end %>
  <div class="link">
    <%= link_to "My Orders", restaurant_path, class: "btn btn-primary"%>
    <%= link_to "Payment", restaurant_path, class: "btn btn-primary"%>
  </div>
</div>
